# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/

# Vercel
.vercel

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
